.MdsButton
    &-color
        &-primary
            background-color: var(--color-orient)

        &-secondary
            background-color: var(--color-black)

        &-selected
            background-color: var(--color-dark-dark-blue)

    &-type
        &-mds
            border-radius: 22px
            padding: 10px
            width: 100px
            margin: 5px

    &-Container
        display: flex

    &-volume
        background-color: rgb(9, 63, 80)
        border-radius: 50px
        width: 30px
        height: 30px
        display: flex
        justify-content: center
        align-items: center

    &-orientation-vertical
        flex-direction: column