.MdsCard
  //padding: 10px
  display: flex

  &-color
    &-primary
      background-color: var(--color-nero-dark)
    &-secondary
      background-color: var(--color-nero)

  &-type
    &-round
      border-radius: 5px

  &-orientation
    &-vertical
      flex-direction: column