.MdsTextfield
  background-color: var(--color-black)
  border-radius: 25px
  text-indent: 10px
  border-style: none
  display: flex
  height: 40px
  width: 100%
  font-size: 16px

  &:focus
    outline: none

  &-error
    border: 1px solid var(--color-red)

  &-search
    padding: 20px
    background: var(--color-nero) url('../../assets/glass.svg') no-repeat scroll 10px 12px
    color: var(--color-dusty-gray)
